a:link {
    /* color: turquoise; */
    color: magenta;
  }
  
  a:visited {
    /* color: magenta; */
    color:#FC6500;
  }
  
  a:hover {
    color: aqua;
  }

  .hithere {
      text-align: center;
      padding-top: 40px;
  }

img {
     display: block;
     width: 100%;
     height: auto;
 }

 h1, h2, h3, p {
     padding-left: 1em;
     padding-right: 1em;
 }

.formclass {

    border-style: solid;
    border-color: black;
    border-width: thin;
}

 .contactheading {
     text-align: center;
     margin-top: 0px;
 }

 .projectpic {
    padding-left: 1em;
    padding-right: 1em;
 }
 
.contactme {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 18px;

}

 .App {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .App-header {
     min-height: 450px;
     background: url("cool9.jpeg");
     color: white;
 }

 .App-header .bg-image {
    position: absolute;
    /* background: url("cool9.jpeg"); */
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 450px;
    /* z-index: -1; */
 }

 .littleheading {
    font-size: 22px;
    font-weight: bold;
    color:#3a88fe;
    text-align: center;
 }

 .maintext {
    font-size: 18px;
    text-align: center;
 }

 .blurbing {
    font-size: 18px;
    text-align: center;
}

.relocation {
    font-size: 18px;
    font-style: italic;
    text-align: center;
}

.mylinkslast {
    /* padding-bottom: 100px; */
}

.projecttitle { 
    font-size: 20px;
}

.recentprojects {
    text-align: center;
}

/* Media Query -- tablet */

@media(min-width: 700px) {

.App-header {
    width: 40%;
    float: left;
}

.secondpart {
    width: 60%;
    float: right;
}

.contactme {
    width: 100%;
    /* float: inline-end; */
}

.contactheading {
text-align: left;
padding-left: 0px;
}

}

/* Media Query -- 1024-1280 px */

@media(min-width: 1024px) {

    .beginningofgrid {
        display: grid;
        grid-template-columns: 30% 70%;

    }

    .blurbing {
        font-size: 16px;
        padding-left: 30px;
        padding-right: 30px;
    }    

    .relocation {
        font-size: 16px;
        font-style: italic;
        padding-left: 30px;
        padding-right: 30px;
    }    

    .littleheading {
        font-size: 18px;
    }

    .maintext {
        font-size: 16px;
    }

    .projectdescription {
        font-size: 14px;
    }

    .projectlink {
        font-size: 14px;
    }

    .mylinks2 {
        font-size: 14px;
    }

    .mepic {
        width: 300px;
        margin-left: 30px;
    }

    /* img {
        width: 400px;
    }  */

    .App-header {
        width: 35%;
        float: left;
    }
    
    .secondpart {
        width: 65%;
        float: right;
    }
    
    .contactme {
        width: 60%;
        /* float: inline-end; */
        display: grid;
        margin-right: 0px;
        float: right;
    }
    
    .contactheading {
    text-align: left;
    padding-left: 0px;
    }
    
    }

/* Media Query -- 1280 or greater */

@media(min-width: 1280px) {

    .projpart1 {
        /* width: 50%;
        float: right; */
    }

    .projpart2 {
        /* width: 50%;
        float: left; */
    }

    .blurbing {
        font-size: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }    

    .relocation {
        font-size: 20px;
        font-style: italic;
        padding-left: 30px;
        padding-right: 30px;
    }    

    .littleheading {
        font-size: 24px;
    }

    .maintext {
        font-size: 20px;
    }

    .projectdescription {
        font-size: 20px;
        padding-left: 60px;
    }

    .projectlink {
        font-size: 20px;
        padding-left: 60px;
    }

    .mylinks2 {
        font-size: 20px;
        padding-left: 60px;
    }

    .mepic {
        /* width: 400px;
        margin-left: 20px; */
        width: 90%;
    }

    img {
        /* width: 600px; */
        width: 100%;
    } 

    .App-header {
        width: 30%;
        float: left;
    }
    
    .secondpart {
        width: 70%;
        float: right;
    }

    .beginningofgrid {
        display: grid;
        grid-template-columns: 40% 60%;

    }
    
    .contactme {
        width: 65%;
        /* float: inline-end; */
        display: grid;
    }
    
    .contactheading {
    text-align: left;
    padding-left: 0px;
    }

    .name {
     padding-left: 20px;

    }
    
    .email {
    padding-left: 20px;
    }

    .message {
    padding-left: 20px;
    }

    .itybityformfield {
        padding-left: 20px;
    }

    }